.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-title {
  position: fixed;
  top: 15px;
  left: 20px;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  z-index: 2
}
.app-wrapper {
  position: relative;
  z-index: 1;
  padding: 2rem;
}
/* Styles for the Quiz */
.quiz-container {
  text-align: center;
  padding-top: 20px;
}

.question-container {
  margin: 20px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navigation-buttons button {
  background-color: #5c6bc0;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-buttons button:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

.back-to-topics {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  font-size: 18px;
  padding: 12px 25px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-to-topics:hover {
  background-color: #5c6bc0;
}

.topic-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.slide-black-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.096);
  z-index: 5;
  top: 0;
  left: 0;
  animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}


@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.pop-up {
  animation: popUp 0.8s ease-out forwards;
}

